.detail-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 40px;
}

.highlight {
    display: flex;
    flex-direction: row;
}

.title-description {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.title-description span,h1 {
    text-align: left;
    margin-left: 20px;
}

.title-description span{
    padding-bottom: 20px;
}

.details-comments {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #80808059;
    margin-bottom: 20px;
}


.comment .user-details  img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.comment .text {
    padding: 20px;
    font-style: italic;
    color: grey;
}

.comment .user-details .rating {
    float: right;
}

.comment .user-details .name {
    color: gray;
    font-size: 15px;
}

.reviewDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #80808059;
    margin-bottom: 20px;
}

.reviewDiv .ratingDiv {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ratingDiv .label {
    padding-right: 10px;
}

#review input[type="text"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 50%;
    border: 2px solid #f6f6f6;
}

#review input[type="Button"] {
    background-color: rgba(19, 140, 255, 0.52);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#review input[type="submit"]::placeholder {
    color: #cccccc;
    text-align: center;
}









